html {
  height: 100%;
}

body {
	background-color: #fff;
	background-color: #000;
	background-color: #313131;
	margin: 0;
	height: 100%;
}

div#root{
  height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}
